<section class="min-h-screen container-fluid">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-[clamp(0.5rem,1vw,0.5rem)] items-start mt-[clamp(12.1875rem,24.375vw,12.1875rem)] ml-[clamp(0.625rem,1.25vw,0.625rem)]"
  >
    <div class="col-span-1 lg:ml-[clamp(2.5rem,5vw,2.5rem)]">
      <h2 class="font-semibold text-[clamp(1.5rem,3.2vw,2rem)]">
        Ingeniería de Precisión para un Mundo Exigente
      </h2>
      <p
        class="font-light mt-[clamp(1rem,2vw,1rem)] text-[clamp(1rem,2vw,1.25rem)]"
      >
        Explofy se posiciona como un aliado estratégico con 25 años de
        experiencia. No solo fabricamos repuestos y soluciones de alta precisión
        para equipos mineros, sino que comprendemos a fondo los desafíos
        operativos de nuestros clientes.
      </p>
      <p
        class="font-light mt-[clamp(1rem,2vw,1rem)] text-[clamp(1rem,2vw,1.25rem)]"
      >
        Somos una fábrica de ingeniería de precisión, que combina la tecnología
        más avanzada, con el conocimiento empírico y artesanal, asegurando
        productos que cumplen los más altos estándares de calidad y resistencia.
        <br class="mt-[clamp(1rem,2vw,1rem)]" />
      </p>
      <p
        class="font-light mt-[clamp(1rem,2vw,1rem)] text-[clamp(1rem,2vw,1.25rem)]"
      >
        Nuestra identidad como empresa familiar de segunda generación, refuerza
        nuestro compromiso inquebrantable con la excelencia y el servicio
        personalizado.
      </p>
      <p
        class="font-light mt-[clamp(1rem,2vw,1rem)] text-[clamp(1rem,2vw,1.25rem)]"
      >
        Ofrecemos soluciones customizadas que optimizan tus operaciones,
        reduciendo costos y minimizando los riesgos. Tenemos un Know How
        respaldado en una filosofía de trabajo basada en el expertise, el
        conocimiento, la seriedad, la innovación y la cercanía que llevamos a
        cada cliente.<br class="mt-[clamp(1rem,2vw,1rem)]" /> Con Explofy, inviertes
        en seguridad, eficiencia y un equipo que entiende tu negocio como propio.
        Porque en un entorno desafiante, la diferencia está en elegir un aliado con
        experiencia, compromiso y visión de futuro.
      </p>
    </div>
    <div class="col-span-1">
      <img src="/about-img.svg" class="w-full h-auto" />
    </div>
  </div>
</section>
