<section class="min-h-screen container mx-auto">
  <div class="grid grid-cols-2 gap-20 items-start mt-[195px] ml-[20px]">
    <div class="col-span-1 col-start-1 lg:ml-[195px]">
      <h2 class="font-semibold text-[32px]">
        Ingeniería de Precisión para un Mundo Exigente
      </h2>
      <p class="font-light mt-4 text-[20px]">
        Explofy se posiciona como un aliado estratégico con 25 años de
        experiencia. No solo fabricamos repuestos y soluciones de alta precisión
        para equipos mineros, sino que comprendemos a fondo los desafíos
        operativos de nuestros clientes.
      </p>
      <p class="font-light mt-4 text-[20px]">
        Somos una fábrica de ingeniería de precisión, que combina la tecnología
        más avanzada, con el conocimiento empírico y artesanal, asegurando
        productos que cumplen los más altos estándares de calidad y resistencia.<br
          class="mt-4"
        />
        Nuestra identidad como empresa familiar de segunda generación, refuerza nuestro
        compromiso inquebrantable con la excelencia y el servicio personalizado.
      </p>
      <p class="font-light mt-4 text-[20px]">
        Ofrecemos soluciones customizadas que optimizan tus operaciones,
        reduciendo costos y minimizando los riesgos. Tenemos un Know How
        respaldado en una filosofía de trabajo basada en el expertise, el
        conocimiento, la seriedad, la innovación y la cercanía que llevamos a
        cada cliente.<br class="mt-4" /> Con Explofy, inviertes en seguridad, eficiencia
        y un equipo que entiende tu negocio como propio. Porque en un entorno desafiante,
        la diferencia está en elegir un aliado con experiencia, compromiso y visión
        de futuro.
      </p>
    </div>
    <div class="col-span-1 col-start-2">
      <img src="/about-img.svg" />
    </div>
  </div>
</section>
