---
const cardsData = [
  {
    img: '/card-1.svg',
    title: 'El acero nos une',
    paragraph:
      'Expertos en aceros de perforación y repuestos para aire reverso, convencional y diamantina.',
  },
  {
    img: '/card-2.svg',
    title: 'Impulsados por un propósito',
    paragraph:
      'Nuestra mision es clara, trabajar juntos para desarrollar soluciones efectivas que se traduzcan en mejores repuestos',
  },
  {
    img: '/card-3.svg',
    title: 'Fuerza en unidad',
    paragraph:
      'Creemos en el trabajo colaborativo para ofrecer respuestas sólidas y confiables a tu empresa.',
  },
  {
    img: '/card-4.svg',
    title: 'Soluciones en metal',
    paragraph:
      'Diseñamos estructuras y componentes metalúrgicos a medida con precisión, innovación y calidad.',
  },
];
---

<section class="relative z-2 mt-[clamp(2rem,8vw,4rem)]">
  <div class="container-fluid">
    <div
      class="grid grid-cols-1 lg:[grid-template-columns:1.2fr_1fr_1.2fr] gap-[clamp(1rem,2vw,1rem)] md:items-start"
    >
      <div class="lg:col-span-2">
        <h2
          class="text-[#000929] text-center md:text-left text-[clamp(1.5rem,4.5vw,2.25rem)] font-bold"
        >
          Somos la Fábrica
        </h2>

        <div
          class="h-[clamp(0.125rem,0.25vw,0.125rem)] w-3/4 my-[clamp(0.75rem,2.5vw,2.5rem)] mx-auto md:mx-0 md:ml-0 bg-[#D9D9D9] relative overflow-hidden"
        >
          <div
            class="absolute top-0 left-0 md:left-0 h-full w-1/4 bg-yellow-500"
          >
          </div>
        </div>

        <p
          class="text-center md:text-left text-[clamp(0.875rem,1.5vw,1.125rem)] font-light mb-[clamp(3rem,10vw,5rem)]"
        >
          Somos una fábrica de ingeniería de precisión que fabrica repuestos
          para equipos de la industria minera. Tenemos un equipo técnico
          altamente especializado para suministrar productos de calidad.
        </p>

        <div
          class="grid grid-cols-1 sm:grid-cols-2 gap-[clamp(1rem,1vw,0.5rem)] mb-8"
        >
          {
            cardsData.map((card) => (
              <div class="flex flex-col items-center md:flex-row md:items-start p-[clamp(0.5rem,1vw,0.5rem)] text-center md:text-left">
                <img
                  src={card.img}
                  alt="logo"
                  class="w-[clamp(2rem,3vw,3rem)] h-[clamp(2rem,3vw,3rem)] flex-shrink-0 mb-2 md:mb-0 md:mr-[clamp(1rem,3.5vw,1.75rem)]"
                />
                <div class="flex flex-col">
                  <h3 class="font-semibold mb-[clamp(0.25rem,1vw,0.5rem)] text-[clamp(0.875rem,1.2vw,1rem)]">
                    {card.title}
                  </h3>
                  <p class="font-light text-[clamp(0.75rem,1vw,0.875rem)] leading-relaxed">
                    {card.paragraph}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <div
        class="w-full hidden md:flex justify-end col-span-1 lg:col-start-3 lg:row-start-1 mt-[clamp(0.5rem,1vw,0.5rem)]"
      >
        <img
          src="/img-card.svg"
          alt="factory image"
          class="h-auto w-[clamp(20rem,38vw,23.75rem)] object-cover rounded-xl"
        />
      </div>

      <div
        class="col-span-1 lg:col-span-3 items-center bg-[#D0DBE0] p-[clamp(1.5rem,2.5vw,2.5rem)] rounded-xl mb-[clamp(2rem,9vw,4.5rem)] space-y-[clamp(1rem,2vw,1rem)] mt-[clamp(3rem,20vw,10rem)]"
      >
        <h2
          class="text-[#000929] text-center md:text-left text-[clamp(1.25rem,3.4vw,2.125rem)] font-bold"
        >
          Solicita tu cotización personalizada
        </h2>
        <p
          class="text-center md:text-left text-[clamp(1rem,2vw,1.25rem)] font-light"
        >
          Cuéntanos tus necesidades y te brindaremos la mejor opción.
        </p>
        <div
          class="flex flex-col md:flex-row gap-[clamp(0.5rem,1vw,0.5rem)] justify-center items-center"
        >
          <button
            class="hidden md:block bg-[#FFBD2B] hover:bg-[#FFBD2B]/80 text-black px-[clamp(3rem,12.5vw,6.25rem)] py-[clamp(0.75rem,1.5vw,0.75rem)] font-bold rounded-md w-full md:w-auto text-center text-[clamp(0.75rem,1.5vw,1rem)]"
          >
            ¡Diseña tu producto personalizado ahora!
          </button>
          <button
            class="hidden md:block bg-[#FFBD2B] hover:bg-[#FFBD2B]/80 text-black px-[clamp(3rem,12.5vw,6.25rem)] py-[clamp(0.75rem,1.5vw,0.75rem)] font-bold rounded-md w-full md:w-auto text-center text-[clamp(0.75rem,1.5vw,1rem)]"
          >
            ¡Solicita tu presupuesto de metalúrgica ya!
          </button>
          <button
            class="bg-[#FFBD2B] hover:bg-[#FFBD2B]/80 text-black px-[clamp(2rem,12.5vw,6.25rem)] py-[clamp(0.75rem,1.5vw,0.75rem)] font-bold rounded-md w-full md:w-auto text-center text-[clamp(0.75rem,1.5vw,1rem)]"
          >
            ¡Haz tu pedido de repuestos hoy mismo!
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="relative mx-auto pt-[clamp(1.5vh,6vw,6vh)] pb-[clamp(1rem,4vw,2rem)] z-10 container-fluid"
>
</div>
