<section class="min-h-screen flex flex-col justify-center items-center">
  <h2 class="text-[#000929] font-bold text-[36px] text-center my-4">
    Solicita tu Cotización en Simples Pasos
  </h2>
  <h3 class="font-light text-center text-[20px]">
    Obtén la mejor solución para tu proyecto de manera rápida y sencilla. Sigue
    estos tres pasos y recibe una cotización personalizada en poco tiempo.
  </h3>
  <img src="/flow-card.svg" class="mt-4" />
  <button
    class="bg-[#FFBD2B] hover:bg-[#FFBD2B]/80 rounded-lg text-[#000929] py-2 px-6 text-[16px] mt-4"
  >
    Contactar
  </button>
</section>
