<section
  class="min-h-screen flex flex-col justify-center items-center container-fluid py-[clamp(2rem,8vw,4rem)]"
>
  <h2
    class="text-[#000929] font-bold text-[clamp(1.5rem,4.5vw,2.25rem)] text-center my-[clamp(1rem,2vw,1rem)] mb-[clamp(2.375rem,4.75vw,2.375rem)]"
  >
    Solicita tu Cotización en Simples Pasos
  </h2>
  <h3
    class="font-light text-center text-[clamp(1rem,2vw,1.25rem)] max-w-[clamp(30rem,60vw,50rem)]"
  >
    Obtén la mejor solución para tu proyecto de manera rápida y sencilla. Sigue
    estos tres pasos y recibe una cotización personalizada en poco tiempo.
  </h3>
  <img
    src="/flow-card.svg"
    class="mt-[clamp(5rem,10vw,5rem)] mb-[clamp(5rem,10vw,5rem)] w-[clamp(20rem,50vw,40rem)] h-auto"
  />
  <a href="mailto:mario@explofy.com.ar">
    <button
      class="bg-[#FFBD2B] hover:bg-[#FFBD2B]/80 rounded-lg text-[#000929] min-w-[clamp(14.375rem,28.75vw,14.375rem)] min-h-[clamp(2.8125rem,5.625vw,2.8125rem)] text-[clamp(1.125rem,2.25vw,1.125rem)]"
    >
      Contactar
    </button>
  </a>
</section>
