---
const cardData = [
  {
    img: "/Messages.png",
    title: "1. Envíanos tu Solicitud",
    paragraph:
      "Contáctanos a través de nuestro formulario web, indicando los productos o repuestos que necesitas.",
  },
  {
    img: "/elements.png",
    title: "2. Evaluación y Asesoramiento",
    paragraph:
      "Nuestro equipo técnico analizará tus requerimientos y te brindará la mejor opción en función de tus necesidades operativas.",
  },
  {
    img: "/hands.png",
    title: "3. Recibe tu Cotización",
    paragraph:
      "Te enviaremos una propuesta detallada con precios, tiempos de entrega y especificaciones para que tomes la mejor decisión.",
  },
];
---

<section
  class="lg:hidden justify-center items-center container-fluid pt-8 pb-20 text-center"
>
  <h2
    class="text-[#000929] font-bold text-[clamp(1.25rem,4.5vw,2.25rem)] text-center my-[clamp(1rem,2vw,1rem)] mb-[clamp(1.5rem,4.75vw,2.375rem)]"
  >
    Solicita tu Cotización <br /> en Simples Pasos
  </h2>
  <h3 class="font-light text-center text-xs w-full px-4">
    Obtén la mejor solución para tu proyecto de manera rápida y sencilla. Sigue
    estos tres pasos y recibe una cotización personalizada en poco tiempo.
  </h3>
  {
    cardData.map((card) => (
      <div class="flex flex-col items-center justify-center max-w-64 mx-auto my-8">
        <div class="bg-[#F4B544] rounded-lg shadow-2xl w-20 h-20 ">
          <img src={card.img} class="p-4 mx-auto" />
        </div>
        <h3 class="text-[#000929] font-semibold text-[clamp(1rem,2.25vw,1.125rem)] text-center my-4">
          {card.title}
        </h3>
        <p class="text-[#000929] font-light text-xs text-center">
          {card.paragraph}
        </p>
      </div>
    ))
  }
  <a
    class="bg-[#F4B544] rounded-lg text-[#000929] text-sm px-8 py-2 mx-auto shadow-2xl"
    href="mailto:mario@explofy.com.ar"
  >
    Contactar
  </a>
</section>

<section
  class="hidden lg:flex min-h-screen lg:flex-col justify-center items-center container-fluid py-[clamp(2rem,8vw,4rem)]"
>
  <h2
    class="text-[#000929] font-bold text-[clamp(1.25rem,4.5vw,2.25rem)] text-center my-[clamp(1rem,2vw,1rem)] mb-[clamp(1.5rem,4.75vw,2.375rem)]"
  >
    Solicita tu Cotización en Simples Pasos
  </h2>
  <h3
    class="font-light text-center text-[clamp(0.875rem,2vw,1.25rem)] max-w-[clamp(20rem,60vw,50rem)] px-4"
  >
    Obtén la mejor solución para tu proyecto de manera rápida y sencilla. Sigue
    estos tres pasos y recibe una cotización personalizada en poco tiempo.
  </h3>
  <img
    src="/flow-card.svg"
    class="mt-[clamp(3rem,10vw,5rem)] mb-[clamp(3rem,10vw,5rem)] w-[clamp(18rem,50vw,40rem)] h-auto px-4"
  />
  <a href="mailto:mario@explofy.com.ar">
    <button
      class="bg-[#FFBD2B] hover:bg-[#FFBD2B]/80 rounded-lg text-[#000929] min-w-[clamp(12rem,28.75vw,14.375rem)] min-h-[clamp(2.5rem,5.625vw,2.8125rem)] text-[clamp(1rem,2.25vw,1.125rem)] mx-4"
    >
      Contactar
    </button>
  </a>
</section>
