<section class="min-h-screen flex flex-col justify-center items-center">
  <h2 class="text-[#000929] font-bold text-[36px] text-center my-4 mb-[38px]">
    Solicita tu Cotización en Simples Pasos
  </h2>
  <h3 class="font-light text-center text-[20px]">
    Obtén la mejor solución para tu proyecto de manera rápida y sencilla. Sigue
    estos tres pasos y recibe una cotización personalizada en poco tiempo.
  </h3>
  <img src="/flow-card.svg" class="mt-[80px] mb-[80px]" />
  <a href="mailto:mario@explofy.com.ar">
    <button
      class="bg-[#FFBD2B] hover:bg-[#FFBD2B]/80 rounded-lg text-[#000929] min-w-[230px] min-h-[45px] text-[16px]"
    >
      Contactar
    </button>
  </a>
</section>
