---
const footerImages = [
  { url: '', path: '/linkedin-footer.svg' },
  { url: '', path: '/whatsapp-footer.svg' },
  { url: '', path: '/facebook-footer.svg' },
];
const currentYear = new Date().getFullYear();
---

<section>
  <img src="/over-footer.svg" class="w-full hidden lg:block" />
  <div
    class="flex flex-col lg:grid sm:grid-cols-2 lg:grid-cols-4 gap-[clamp(1rem,3vw,2rem)] bg-[#D0DBE0] px-[clamp(1rem,3vw,2rem)] py-[clamp(2rem,5vw,2.5rem)]"
  >
    <div
      class="lg:col-span-2 flex flex-col lg:flex-row items-center lg:items-start gap-[clamp(1rem,2vw,2rem)]"
    >
      <img
        src="/explofy-logo.svg"
        alt="Exploy Catalani Factory"
        class="w-[clamp(12rem,12vw,12rem)] mx-auto sm:mx-0 sm:mr-[clamp(2rem,4vw,5rem)] sm:ml-[clamp(1rem,10vw,12rem)]"
      />
      <div
        class="flex flex-col gap-[clamp(1rem,2vw,1rem)] text-center sm:text-left"
      >
        <div
          class="hidden lg:flex flex-col sm:flex-row items-center sm:items-center gap-[clamp(0.5rem,1vw,1rem)]"
        >
          <img
            src="/phone-icon.svg"
            alt="Phone icon"
            class="h-[clamp(1.25rem,2vw,1.5rem)]"
          />
          <div class="flex flex-col">
            <p
              class="text-[#004B64] mt-[clamp(0.25rem,1vw,0.5rem)] font-bold text-[clamp(0.75rem,1.5vw,1rem)]"
            >
              ¡Hola!
            </p>
            <p class="text-black font-light text-[clamp(0.75rem,1.5vw,1rem)]">
              (+54) 0261 4960201
            </p>
          </div>
        </div>
        <div class="flex justify-center items-center gap-x-1 lg:hidden">
          <div class="bg-white rounded-full p-1">
            <img
              src="/call.png"
              alt="Icono de teléfono"
              class="border-2 border-[#004B64] p-1.5 rounded-full"
            />
          </div>
          <p
            class="text-[#004B64] mt-[clamp(0.25rem,1vw,0.5rem)] text-[clamp(0.75rem,1.5vw,1rem)]"
          >
            (+54) 0261 49602
          </p>
        </div>

        <div class="flex justify-center lg:justify-start items-center gap-x-1">
          <div class="block lg:hidden bg-white rounded-full p-1 w-fit">
            <img
              src="/email.png"
              alt="Icono de teléfono"
              class="border-2 border-[#004B64] p-1.5 rounded-full"
            />
          </div>
          <div class="flex flex-col gap-x-[clamp(0.25rem,0.5vw,0.25rem)]">
            <a
              href="mailto:mario@explofy.com.ar"
              class="font-bold underline text-[#004B64] text-[clamp(0.75rem,1.5vw,1rem)]"
            >
              mario@explofy.com.ar
            </a>
            <a
              href="mailto:romi@explofy.com.ar"
              class="font-bold underline text-[#004B64] text-[clamp(0.75rem,1.5vw,1rem)]"
            >
              romi@explofy.com.ar
            </a>
          </div>
        </div>

        <div class="flex justify-center lg:justify-start items-center gap-x-1 max-w-80">
           <div class="block lg:hidden bg-white rounded-full p-1 w-fit">
            <img
              src="/location_on.svg"
              alt="Icono de teléfono"
              width="80px"
              class="border-2 border-[#004B64] p-1.5 rounded-full"
            />
          </div>
          <p
            class="font-regular text-[#004B64] text-xs text-start lg:text-[clamp(0.75rem,1.5vw,1rem)] lg:leading-relaxed"
          >
            Cristobal Colón 32 (altura de San Martín 6592) Carrodilla, Luján de
            Cuyo Mendoza República Argentina CPM5505FSN
          </p>
        </div>

      </div>
    </div>
    <div
      class="flex flex-col lg:hidden gap-[clamp(0.5rem,1vw,0.5rem)] text-center"
    >
      <a
        href=""
        class="text-[#004B64] font-semibold text-[clamp(0.75rem,1.5vw,1rem)]"
        >Menú</a
      >
      <div class="flex divide-x divide-[#004B64] justify-between">
        <a
          href=""
          class="text-[#004B64] font-regular w-1/4 text-[clamp(0.75rem,1.5vw,1rem)]"
          >Producto</a
        >
        <a
          href=""
          class="text-[#004B64] font-regular w-1/4 text-[clamp(0.75rem,1.5vw,1rem)]"
          >Nosotros</a
        >
        <a
          href=""
          class="text-[#004B64] font-regular w-1/4 text-[clamp(0.75rem,1.5vw,1rem)]"
          >Contacto</a
        >
        <a
          href=""
          class="text-[#004B64] font-regular w-1/4 text-[clamp(0.75rem,1.5vw,1rem)]"
          >Cotizar</a
        >
      </div>
    </div>
    <div
      class="hidden lg:flex flex-row md:flex-col gap-[clamp(0.5rem,1vw,0.5rem)] lg:mr-[clamp(1rem,6vw,7rem)] ml-[clamp(1rem,6vw,7rem)] mt-[clamp(0.5rem,1vw,0.5rem)]"
    >
      <a
        href=""
        class="text-[#004B64] font-semibold text-[clamp(0.75rem,1.5vw,1rem)]"
        >Menú</a
      >
      <a
        href=""
        class="text-[#004B64] font-regular text-[clamp(0.75rem,1.5vw,1rem)]"
        >Producto</a
      >
      <a
        href=""
        class="text-[#004B64] font-regular text-[clamp(0.75rem,1.5vw,1rem)]"
        >Nosotros</a
      >
      <a
        href=""
        class="text-[#004B64] font-regular text-[clamp(0.75rem,1.5vw,1rem)]"
        >Contacto</a
      >
      <a
        href=""
        class="text-[#004B64] font-regular text-[clamp(0.75rem,1.5vw,1rem)]"
        >Cotizar</a
      >
    </div>

    <div class="hidden lg:block mt-[clamp(0.5rem,1vw,0.5rem)] text-center sm:text-left">
      <h3
        class="text-[#004B64] font-semibold mb-[clamp(0.5rem,1vw,0.5rem)] text-[clamp(0.75rem,1.5vw,1rem)]"
      >
        Redes sociales
      </h3>
      <div
        class="flex flex-row gap-[clamp(0.5rem,1vw,0.5rem)] items-center justify-center sm:justify-start"
      >
        {
          footerImages.map((image) => (
            <a href={image.url}>
              <img
                src={image.path}
                class="w-[clamp(1.25rem,2.5vw,2rem)] h-[clamp(1.25rem,2.5vw,2rem)]"
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class="bg-[#D0DBE0] flex flex-col items-center">
    <div
      class="bg-[#004B64] h-[clamp(0.0625rem,0.1vw,0.0625rem)] w-3/4 my-[clamp(0.5rem,1vw,0.5rem)] opacity-50"
    >
    </div>
    <h4
      class="text-center text-[#004B64] text-[clamp(0.875rem,1.5vw,1.0625rem)] my-[clamp(1rem,2vw,1rem)]"
    >
      &copy; Copyright {currentYear}. Ingenio ADN. All right reserved
    </h4>
  </div>
</section>
