---
const footerImages = [
  { url: '', path: '/linkedin-footer.svg' },
  { url: '', path: '/whatsapp-footer.svg' },
  { url: '', path: '/facebook-footer.svg' },
];
const currentYear = new Date().getFullYear();
---

<section>
  <img src="/over-footer.svg" class="w-full" />
  <div class="grid grid-cols-4 gap-4 bg-[#D0DBE0] px-4 py-10">
    <div class="col-span-2 flex flex-row items-start gap-4">
      <img
        src="/explofy-logo.svg"
        alt="Exploy Catalani Factory"
        class="mr-[78px] ml-[195px]"
      />
      <div class="flex flex-col gap-4">
        <div class="flex flex-row items-center gap-2">
          <img src="/phone-icon.svg" alt="Phone icon" class="h-6" />
          <div class="flex flex-col">
            <p class="text-[#004B64] mt-2 font-bold">¡Hola!</p>
            <p class="text-black font-light">(+54) 0261 4960201</p>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <a
            href="mailto:mario@explofy.com.ar"
            class="font-bold underline text-[#004B64]"
          >
            mario@explofy.com.ar
          </a>
          <a
            href="mailto:romi@explofy.com.ar"
            class="font-bold underline text-[#004B64]"
          >
            romi@explofy.com.ar
          </a>
        </div>

        <p class="font-regular text-[#004B64]">
          Cristobal Colón 32 (altura de San Martín 6592) Carrodilla, Luján de
          Cuyo Mendoza República Argentina CPM5505FSN
        </p>
      </div>
    </div>

    <div class="col-start-3 flex flex-col gap-2 mr-[115px] ml-[115px] mt-2">
      <a href="" class="text-[#004B64] font-semibold">Menú</a>
      <a href="" class="text-[#004B64] font-regular">Producto</a>
      <a href="" class="text-[#004B64] font-regular">Nosotros</a>
      <a href="" class="text-[#004B64] font-regular">Contacto</a>
      <a href="" class="text-[#004B64] font-regular">Cotizar</a>
    </div>

    <div class="col-start-4 mt-2">
      <h3 class="text-[#004B64] font-semibold mb-2">Redes sociales</h3>
      <div class="flex flex-row gap-2 items-center">
        {
          footerImages.map((image) => (
            <a href={image.url}>
              <img src={image.path} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class="bg-[#D0DBE0] flex flex-col items-center">
    <div class="bg-[#004B64] h-[1.05px] w-3/4 my-2 opacity-50"></div>
    <h4 class="text-center text-[#004B64] text-[17px] my-4">
      &copy; Copyright {currentYear}. Ingenio ADN. All right reserved
    </h4>
  </div>
</section>
