---
const footerImages = [
  { path: '/linkedin-footer.svg' },
  { path: '/facebook-footer.svg' },
  { path: '/whatsapp-footer.svg' },
];
---

<section>
  <img src="/over-footer.svg" class="w-full" />
  <div class="grid grid-cols-4 gap-4 bg-[#D0DBE0] px-6 py-10">
    <!-- Grid 1-2: Logo and contact info in vertical layout -->
    <div class="col-span-2 flex flex-row gap-4">
      <!-- Logo -->
      <img src="/explofy-logo.svg" alt="Exploy Catalani Factory" />
      <div class="flex flex-col gap-4">
        <!-- Phone info -->
        <div class="flex flex-row items-center gap-2">
          <img src="/phone-icon.svg" alt="Phone icon" class="h-10" />
          <div class="flex flex-col">
            <p class="text-[#004B64] font-bold">¡Hola!</p>
            <p class="text-black font-light">(+54) 0261 4960201</p>
          </div>
        </div>

        <!-- Email info -->
        <div class="flex flex-col gap-1">
          <a
            href="mailto:mario@explofy.com.ar"
            class="font-bold underline text-[#004B64]"
          >
            mario@explofy.com.ar
          </a>
          <a
            href="mailto:romina@explofy.com.ar"
            class="font-bold underline text-[#004B64]"
          >
            romina@explofy.com.ar
          </a>
        </div>

        <!-- Address info -->
        <p class="font-bold text-[#004B64]">
          Cristobal Colón 32 (altura de San Martín 6592) Carrodilla, Luján de
          Cuyo Mendoza República Argentina CPM5505FSN
        </p>
      </div>
    </div>

    <!-- Grid 3: Menu -->
    <div class="col-start-3 flex flex-col gap-2">
      <a href="" class="text-[#004B64] font-semibold">Menú</a>
      <a href="" class="text-[#004B64] font-light">Producto</a>
      <a href="" class="text-[#004B64] font-light">Nosotros</a>
      <a href="" class="text-[#004B64] font-light">Contacto</a>
      <a href="" class="text-[#004B64] font-light">Cotizar</a>
    </div>

    <!-- Grid 4: Social Media -->
    <div class="col-start-4">
      <h3 class="text-[#004B64] font-semibold mb-2">Redes sociales</h3>
      <div class="flex flex-row gap-2">
        {footerImages.map((image) => <img src={image.path} />)}
      </div>
    </div>
  </div>
</section>
