---
const heroData = {
  title: 'Repuestos de calidad para equipos mineros',
  subtitle: 'Diseño y fabricación',
};
---

<section
  class="relative w-full h-[80vh] bg-cover bg-center"
  style={`background-image: url('/hero-bg.svg')`}
>
  <div
    class="absolute left-20 bottom-10 bg-black/10 flex items-center justify-center"
  >
    <div class="bg-[#004B6480]/80 max-w-2xl p-8 h-[20rem] rounded-md">
      <h1 class="text-5xl font-bold mb-4 text-white">
        Repuestos de calidad<br /> para equipos mineros
      </h1>
      <p class="text-2xl text-white">{heroData.subtitle}</p>
    </div>
  </div>
</section>
