---
const heroData = {
  title: "Repuestos de calidad para equipos mineros",
  subtitle: "Diseño y fabricación",
};
---

<section class="relative w-full h-[80vh]">
  <div class="absolute inset-0 z-0">
    <div
      class="w-full h-full bg-cover bg-center"
      style={{ backgroundImage: "url('/hero-bg.svg')" }}
    >
    </div>
  </div>
  <div
    class="absolute left-[19.5rem] bottom-[5.2rem] bg-black/10 flex items-center justify-center z-10"
  >
    <div class="bg-[#004B6480]/80 h-[25rem] w-[51rem] rounded-md">
      <h1
        class="text-[3.75rem] font-bold text-white mt-[5.9rem] ml-[2.1rem] leading-tight"
      >
        {heroData.title}
      </h1>
      <p class="text-[2.125rem] text-white mt-[1.375rem] ml-[3.125rem]">
        {heroData.subtitle}
      </p>
    </div>
  </div>
</section>
