---
const data = {
  socials: [{ icon: '/wpp-icon.svg', url: '#' }],
};
---

<div
  class="sticky top-0 z-[999] bg-[#EDA732] text-white text-[clamp(0.875rem,1.5vw,0.875rem)] flex justify-end items-center gap-[clamp(1rem,2vw,1rem)] p-[clamp(1.5rem,3vw,1.5rem)] overflow-visible h-[clamp(3.875rem,7.75vw,3.875rem)]"
>
  <div
    class="absolute flex items-center gap-[clamp(1rem,2vw,1rem)] bg-[#004b71] min-w-md right-0 justify-center h-[clamp(4.8125rem,9.625vw,4.8125rem)]"
    style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);"
  >
    {}
  </div>
</div>
