<section class="py-16">
  <div class="w-[95rem] mx-auto">
    <div class="w-full">
      <h2 class="text-3xl font-bold mb-6 text-left">
        Pescante
      </h2>
      <p class="text-gray-700 leading-relaxed font-[200] text-left">
        Este conjunto se utiliza para facilitar la extracción de muestras del subsuelo de manera rápida y eficaz. Acopla el tubo interior con la barra de perforación y permite el avance de los dos componentes en conjunto y la posterior extracción del tubo interior junto con la muestra de suelo. Este diseño permite la circulación de fluidos, lo que ayuda a la refrigeración de la broca y el transporte de los recortes de roca hacia la superficie.
      </p>
    </div>
  </div>
</section> 