---
const productData = [
  {
    img: '/product-1.svg',
    title: 'Expertise',
    paragraph:
      'Hace 25 años que comenzamos este sueño de emprender, consolidarnos y trascender junto a la industria minera.\nSomos el resultado del esfuerzo, la formación y el entrenamiento de un gran equipo.',
  },
  {
    img: '/product-2.svg',
    title: 'Tecnología',
    paragraph:
      'Contamos con tecnologías y equipamientos que nos permiten fabricar piezas y repuestos con un alto grado de precisión.\n Año tras año, nos renovamos, e incorporamos las últimas IT para estar a la vanguardia de la industria.',
  },
  {
    img: '/product-3.svg',
    title: 'Customización',
    paragraph:
      'Estamos dispuestos a entregar las soluciones que tu empresa necesita. Diseñemos juntos la mejor solución en tiempo real. Además, contamos un stock permanente de repuestos para dar respuesta inmediata a tus requerimientos.',
  },
];
---

<section class="bg-[#F3F5F8] py-[clamp(4rem,15vw,7.5rem)]">
  <div class="container-fluid">
    <div class="text-center mb-[clamp(2rem,8vw,4rem)]">
      <h2
        class="text-[#000929] text-[clamp(1.75rem,4vw,2.5rem)] font-bold mb-[clamp(1rem,3vw,1.5rem)]"
      >
        El futuro es nuestro
      </h2>

      <div
        class="relative h-[clamp(0.25rem,0.5vw,0.25rem)] w-[clamp(16rem,25vw,25rem)] bg-[#D9D9D9] mx-auto"
      >
        <div class="absolute top-0 left-[30%] h-full w-[30%] bg-yellow-500">
        </div>
      </div>
    </div>

    <div class="flex w-full overflow-scroll lg:flex-none lg:overflow-hidden lg:grid lg:grid-cols-3 gap-5 pb-5">
      {
        productData.map((products) => (
          <div class="bg-white hover:bg-[#e8f0f3] w-full mx-auto min-w-64 max-w-[20rem] md:max-w-none md:mx-[clamp(0.75rem,1.5vw,0.75rem)] rounded-lg shadow-md">
            <div class="h-[clamp(10rem,30vw,15rem)] overflow-hidden">
              <img
                src={products.img}
                alt={products.title}
                class="w-full h-full object-cover"
              />
            </div>
            <div class="p-[clamp(1.5rem,4vw,2rem)]">
              <h3 class="text-center md:text-left text-[clamp(1.25rem,3vw,2rem)] font-semibold mb-[clamp(0.75rem,1.5vw,0.75rem)]">
                {products.title}
              </h3>
              <p class="text-center md:text-left text-gray-700  font-light text-[clamp(0.875rem,1.5vw,1.25rem)] ">
                {products.paragraph}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
