---
const productData = [
  {
    img: '/product-1.svg',
    title: 'Expertise',
    paragraph:
      'Hace 25 años que comenzamos este sueño de emprender, consolidarnos y trascender junto a la industria minera. Somos el resultado del esfuerzo, la formación y el entrenamiento de un gran equipo.',
  },
  {
    img: '/product-2.svg',
    title: 'Tecnología',
    paragraph:
      'Contamos con tecnologías y equipamientos que nos permiten fabricar piezas y repuestos con un alto grado de precisión. Año tras año, nos renovamos, e incorporamos las últimas IT para estar a la vanguardia de la industria.',
  },
  {
    img: '/product-3.svg',
    title: 'Customización',
    paragraph:
      'Estamos dispuestos a entregar las soluciones que tu empresa necesita. Diseñemos juntos la mejor solución en tiempo real. Además, contamos un stock permanente de repuestos para dar respuesta inmediata a tus requerimientos.',
  },
];
---

<section class="bg-[#F3F5F8] py-16 px-4">
  <div class="max-w-6xl mx-auto">
    <div class="text-center mb-16">
      <h2 class="text-[#000929] text-4xl font-bold mb-6">
        El futuro es nuestro
      </h2>

      <div class="relative h-[2px] w-[400px] bg-[#D9D9D9] mx-auto">
        <div class="absolute top-0 left-[140px] h-full w-[120px] bg-yellow-500">
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        productData.map((products) => (
          <div class="bg-white hover:bg-[#e8f0f3] rounded-lg overflow-hidden shadow-md">
            <div class="h-48 overflow-hidden">
              <img
                src={products.img}
                alt={products.title}
                class="w-full object-cover"
              />
            </div>
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-3">{products.title}</h3>
              <p class="text-gray-700 mb-4 leading-8">{products.paragraph}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
