---
export interface Props {
  icon: string;
  title: string;
}

const { icon, title } = Astro.props;
---

<div
  class={`bg-white hover:bg-[#EDA732] rounded-md px-10 py-12 max-w-[320px] min-h-[220px] relative transition-all duration-300 shadow-xl group flex flex-col items-center justify-center text-center`}
>
  <img
    src={icon}
    alt={title}
    class="w-12 h-12 mb-4 transition-all duration-300 group-hover:brightness-0 group-hover:invert"
  />
  <h3 class="text-lg font-semibold mb-1 group-hover:text-white">{title}</h3>
</div>
