---
export interface Props {
  title?: string;
  description?: string;
  buttonText?: string;
}

const {
  title = 'Solicita tu\n cotización personalizada',
  description = 'Cuéntanos tus necesidades y te brindaremos la mejor opción.',
  buttonText = '¡Diseña tu producto personalizado ahora!',
} = Astro.props;
---

<div class="rounded-2xl overflow-hidden mb-8 h-full bg-[#D0DBE0] max-w-[230px]">
  <div class="p-6 flex flex-col items-center justify-center text-center h-full">
    <h3 class="font-[600] text-lg mb-4">
      Solicita tu<br /> cotización <br />personalizada
    </h3>
    <p class="text-sm font-[300] mb-8 text-center">
      {description}
    </p>
    <a
      href="#"
      class="bg-amber-400 hover:bg-amber-500 text-black py-2 px-4 text-sm transition-colors duration-300 rounded-lg"
    >
      {buttonText}
    </a>
  </div>
</div>
